<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>codingversion</key>
	<integer>2</integer>
	<key>creationdate</key>
	<date>2023-05-20T00:08:37Z</date>
	<key>date</key>
	<date>2023-05-20T00:11:21Z</date>
	<key>exportdate</key>
	<date>2023-05-20T00:11:27Z</date>
	<key>state</key>
	<integer>4</integer>
	<key>title</key>
	<string>Loons</string>
</dict>
</plist>
